{% extends 'project/base.html' %}

{% load static %}

{% block content %}
    <h1>This is the home page</h1>    
    <br>

    <img src="{% static 'images/1.jpg' %}" alt="" style="width: 200px;">
    <br>

    <a href="/">Home</a>
    <a href="{% url 'create-project' %}">Add Project</a>
    <br>
    <br>

    <br>

    <table>
        {% for project in projects %}
            <ul>
                <li><a href="{% url 'project' project.id %}">{{ project.title }}</a></li>
                <li>{{ project.description }}</li>
                <li><a href="{% url 'update-project' project.id %}">Edit</a></li>
                <li><a href="{% url 'delete-project' project.id %}">Delete</a></li>
                <br>
                <br>
            </ul>
        {% endfor %}
            
    </table>


    
{% endblock content %}